body {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    place-content: space-between;
    padding: 1em;
    .menu {
        height: 2em;
    }
    .buy {
        height: 2em;
    }
    .logo {
        padding: 0;
        margin: 0;
    }
}
section {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    .card{
        margin-right: 2em;
        margin-left: 2em;
        width: 12em;
    }
}
