body {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    place-content: space-between;
    padding: 1em;
    .menu {
        height: 2em;
    }
    .buy {
        height: 2em;
    }
    .logo {
        padding: 0;
        margin: 0;
    }
}
section {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    background-color: gray;
    .card {
        padding: 2em;
        margin: 2em;
        width: 12em;
        background-color: white;
        .image {
            width: 100%;
        }
    }
}
